    body {
        background-color: #b6e6f854;
    }
    hr {
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        border-radius: 0px;
        background-color: #b6e6f854;
        height: 0px;
        width: 5%;
    }
    img {
        height: 200px;
    }
    img:hover {
        height: 500px;
    }
    h1 {
        color: #5fc7c7;
        font-family: Copperplate Gothic Light;
    }
    h1:hover {
        font-size: 32;
    }
    h3 {
        color: rgba(227, 69, 69, 0.489);
        font-family: Yu Gothic;
    }
    .clickable:hover {
        font-size: 20;
    }
    .select:hover {
        float: right;
        padding-right: 5px;
        margin-right: 88%;
    }