@font-face {
    font-family: VideoGame;
    src: url("../fonts/prstart.ttf");
}

h1 {
    font-family: 'videoGame';
    color: #383e89;
    font-size: 4rem;
}

body {
    text-align: center;
    background-color: #d88555;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
}

.blue {
    background-color: blue;
    display: inline-block;
    margin: 2%;
}

.red {
    background-color: red;
    display: inline-block;
    margin: 2%;
}

.green {
    background-color: yellowgreen;
    display: inline-block;
    margin: 2%;
}

.yellow {
    background-color: yellow;
    display: inline-block;
    margin: 2%;
}

.clicked {
    opacity: 0.5;
}

.wrong {
    opacity: 0.5;
    background-color: rgb(223, 73, 73);
}

.level-complete {
    animation: levelComplete 1s;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-complete::after {
    visibility: visible;
    font-family: 'videoGame';
    font-size: 4rem;
    margin-top: 20%;
    content: "Level Complete";
}

@keyframes levelComplete {
    from {background-color: #d88555;}
    to   {background-color: #8e742d;}
    from {background-color: #8e742d;}
    to   {background-color: #d88555;} 
}

.hiding-div {
    display: none;
}

